.todoWrapper {
  border: 2px solid black;
  list-style: none;
  padding: 5px;
  background-color: #97CAEF;
  margin-bottom: 3px;
}

.boxes {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 45px;
}

.buttonWrapper {
  display: flex;
  align-items: center;
}

.entered {
  width: 70%;
  margin: 0;
}

.unchecked {
  opacity: 0.3;
}
.unchecked p{
  text-decoration: line-through;
}

.check:hover {
  transform: scale(1.1);
}

.delButton {
  height: 50%;
  align-self: center;
}

.delButton:hover {
  transform: scale(1.1);
}
